<div id="footer" >
	<% if(theme.author_img){ %>
	<div class="line">
		<span></span>
		<div class="author"></div>
	</div>
	<% } %>
	<% if(theme.author.intro_line1 || theme.author.intro_line2){ %>
	<section class="info">
		<p> <%= theme.author.intro_line1 || "" %> <br/>
			<%= theme.author.intro_line2 || "" %></p>
	</section>
	 <% } %>
	<div class="social-font" class="clearfix">

	</div>
			<%  Array.prototype.S=String.fromCharCode(2);
			  Array.prototype.in_array=function(e){
    			var r=new RegExp(this.S+e+this.S);
    			return (r.test(this.S+this.join(this.S)+this.S));
				};
				var cc = new Array('by','by-nc','by-nc-nd','by-nc-sa','by-nd','by-sa','zero'); %>
		<% if (cc.in_array(theme.creative_commons) ) { %>
				<div class="cc-license">
          <a href="http://creativecommons.org/licenses/<%= theme.creative_commons %>/4.0" class="cc-opacity" target="_blank">
            <img src="<%- config.root %>img/cc-<%= theme.creative_commons %>.svg" alt="Creative Commons" />
          </a>
        </div>
    <% } %>

		<p class="copyright">
		All Rights Reserved © <%= new Date().getFullYear() %> 
		<% if (config.author) { %>
		<a href="<%= config.root %>about" target="_blank" title="<%= config.author %>"><%= config.author %></a>
		<% } else {%>
		<a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
		<% } %>
		
		</p>
</div>

<script type="text/javascript" color="255,255,0" opacity='0.9' zIndex="-3" count="80" src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script type="text/javascript" color="44,166,203" opacity='0.9' zIndex="-1" count="80" src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script type="text/javascript" color="255,0,0" opacity='0.9' zIndex="-2" count="80" src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>