<% if (page.prev || page.next){ %>
<nav class="article-nav clearfix">
 <% if (page.prev){ %>
 <div class="prev" >
 <a href="<%- config.root %><%- page.prev.path %>" title="<%= page.prev.title %>">
  <strong>上一篇：</strong><br/>
  <span>
  <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(no title)<% } %></span>
</a>
</div>
<% } %>
<% if (page.next){ %>
<div class="next">
<a href="<%- config.root %><%- page.next.path %>"  title="<%= page.next.title %>">
 <strong>下一篇：</strong><br/> 
 <span><% if (page.next.title){ %><%= page.next.title %><% } else { %>(no title)<% } %>
</span>
</a>
</div>
<% } %>
</nav>
<% } %>

<!-- LiveRe City install code -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMTU5NS84MTU5">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
</div>
<!-- completed City install code -->